.App {
  text-align: center;
  background-color: rgb(255, 243, 176);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);


}
.movie-list{
  display: flex;
  flex-wrap: wrap;
}
.movie-card{
  display: inline;
}
.Filter{
  display: flex;
}
.taswira{
  height: 500px;
  width: 500px;
  background-color: tomato;
}
.card{
  display: inline-flex;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.add-movie{
  background: red;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
}
